swagger: "2.0"
info:
  version: 1.1.0
  title: IO Function API
  contact:
    name: IO team
    url: https://forum.italia.it/c/progetto-io
  x-logo:
    url: https://io.italia.it/assets/img/io-logo-blue.svg
  description: >
    Documentation of the IO Function API here.
host: api.cd.italia.it
basePath: "/template"
schemes:
  - https
security:
  - SubscriptionKey: []
paths:
  /organizations/{organization_fiscal_code}/services:
    get:
      operationId: getServicesForOrganization
      summary: Retrieve all the services owned by a delegate belongs to an Organization
      description: >-
        Given an Organization Fiscal Code and a Delegate Email a list of services (visible and not).
      responses:
        "200":
          description: Success
          schema:
            $ref: "#/definitions/ServicesSearchList"
        "400":
          description: Bad Request
        "401":
          description: Unauthorized
        "404":
          description: >-
            Access data provided are invalid or no row are presents in the database table
        "500":
          description: Generic server error
          schema:
            $ref: "#/definitions/ProblemJson"
      parameters:
        - $ref: "#/parameters/OrganizationFiscalCode"
        - $ref: "#/parameters/DelegateEmail"
parameters:
  OrganizationFiscalCode:
    name: "organization_fiscal_code"
    format: OrganizationFiscalCode
    type: string
    in: path
    required: true
  DelegateEmail:
    name: "delegate_email"
    format: EmailString
    type: string
    in: query
    required: true
definitions:
  ServiceSearchItem:
    type: object
    properties:
      id:
        type: string
      isvisible:
        type: boolean
      name:
        type: string
    required:
      - id
      - isvisible
      - name
  ServicesSearchList:
    type: object
    properties:
      items:
        type: array
        items:
          $ref: "#/definitions/ServiceSearchItem"
  ProblemJson:
    type: object
    properties:
      type:
        type: string
        format: uri
        description: |-
          An absolute URI that identifies the problem type. When dereferenced,
          it SHOULD provide human-readable documentation for the problem type
          (e.g., using HTML).
        default: about:blank
        example: https://example.com/problem/constraint-violation
      title:
        type: string
        description: |-
          A short, summary of the problem type. Written in english and readable
          for engineers (usually not suited for non technical stakeholders and
          not localized); example: Service Unavailable
      status:
        type: integer
        format: int32
        description: >-
          The HTTP status code generated by the origin server for this
          occurrence
          of the problem.
        minimum: 100
        maximum: 600
        exclusiveMaximum: true
        example: 200
      detail:
        type: string
        description: |-
          A human readable explanation specific to this occurrence of the
          problem.
        example: There was an error processing the request
      instance:
        type: string
        format: uri
        description: >-
          An absolute URI that identifies the specific occurrence of the
          problem.
          It may or may not yield further information if dereferenced.
securityDefinitions:
  SubscriptionKey:
    type: apiKey
    name: X-Functions-Key
    in: header